* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e07a5f;
  font-family: "Nunito", sans-serif;
}
body img {
  max-width: 100%;
}

header {
  background-color: #3d405b;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "logo buscador login" "navegacion navegacion navegacion";
  position: sticky;
  top: 0;
  z-index: 99;
  /* ========= LOGO =============== */
  /*  =========== BUSCADOR ================ */
  /* ========== BOTONES DE LOGEO Y CARRITO =========== */
  /* ========= NAVEGACION PRINCIPAL ========== */
  /* ========== DESPLEGABLE CON CHECKBOX ========== */
}
header .contenedorLogo {
  max-width: 260px;
  padding: 1rem 0;
  text-align: center;
  grid-area: logo;
}
header .contenedorLogo .aLogo, header .contenedorLogo h1 {
  font-size: 30px;
  color: #f4f1de;
  text-decoration: none;
}
header .buscador {
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 0px 0px 1px 0px;
  max-width: 15.5rem;
  grid-area: buscador;
}
header .buscador .buscadorInp {
  border-color: transparent;
  background-color: transparent;
}
header .buscador .buscadorInp:focus {
  outline: none;
}
header .loginUser {
  padding: 0 8px;
  max-width: 13rem;
  grid-area: login;
}
header .navPpal {
  color: #f4f1de;
  grid-area: navegacion;
}
header .navPpal a, header .navPpal label {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem;
  color: #f4f1de;
}
header .navPpal a:hover, header .navPpal a:hover, header .navPpal label:hover, header .navPpal label:hover {
  background-color: #f2cc8f;
  color: #3d405b;
  box-shadow: 0px 0px 2px 0px;
  cursor: pointer;
}
header #navAlimentos {
  display: none;
}
header #navAlimentos:checked ~ div {
  display: flex;
}
header .menuDesplegableAlimentos {
  background-color: #e07a5f;
  position: absolute;
  padding: 1rem;
  right: 0;
  left: 0;
  z-index: 99;
  justify-content: space-evenly;
  box-shadow: 0px 0px 3px 0px;
  display: none;
}
header .menuDesplegableAlimentos li {
  list-style: none;
}

.textoEnvios {
  text-align: center;
  padding: 1rem;
}
.textoEnvios p {
  color: #f4f1de;
  font-size: 30px;
  border: 5px dashed #f4f1de;
}

.btn {
  border: 0;
  padding: 8px;
  border-radius: 15px;
  background-color: #f4f1de;
}
.btn:hover {
  box-shadow: 0px 0px 3px 0px;
  cursor: pointer;
  background-color: #f2cc8f;
}

.categorias {
  text-align: center;
  padding: 1rem 0;
}
.categorias .contenedorCategorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.categorias .contenedorCategorias .cardCat {
  width: 150px;
  margin: 0 8px;
  text-align: center;
  transition: all 0.2s;
}
.categorias .contenedorCategorias .cardCat a {
  text-decoration: none;
  color: black;
}
.categorias .contenedorCategorias .cardCat:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 #3d405b;
}

.productosDestacados .encabezadoProductosDestacados {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.productosDestacados .encabezadoProductosDestacados a {
  color: black;
}
.productosDestacados .encabezadoProductosDestacados h2 {
  font-size: 2rem;
}
.productosDestacados .cuerpoProductosDestacados {
  display: flex;
}
.productosDestacados .cuerpoProductosDestacados .btnProductos {
  position: relative;
  height: 5rem;
  z-index: 98;
  align-self: center;
}
.productosDestacados .cuerpoProductosDestacados .contenedorProductosDestacados {
  display: flex;
  align-items: center;
  height: 30rem;
  gap: 8px;
  overflow: hidden;
}

.cardPet {
  transition: all 0.2s;
  width: 17rem;
}
.cardPet a {
  text-decoration: none;
  color: black;
}
.cardPet:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 #3d405b;
}

.peluqueriaPublic {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30rem;
  padding: 2rem;
}
.peluqueriaPublic .peluqueriaTexto {
  padding: 1rem;
}
.peluqueriaPublic img {
  width: 500px;
}

.suscribete {
  background-color: #81b29a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1em;
}
.suscribete .suscribeteText {
  text-align: center;
}

footer {
  background-color: #3d405b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
footer .footerInfo {
  width: 20rem;
  padding: 1rem;
  color: #f4f1de;
}
footer .footerInfo ul {
  padding: 0;
}
footer .footerInfo ul li {
  list-style: none;
}
footer .footerInfo ul li a {
  color: #f4f1de;
  text-decoration: none;
}

/* @media (max-width: 1050px) {


} */
@media (max-width: 768px) {
  /* =========== INDEX ============= */
  p, a {
    font-size: 20px;
  }
  header {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-areas: "envios envios envios" "buscador buscador buscador" "logo logo login" "navegacion navegacion navegacion";
  }
  header .buscador {
    justify-self: center;
    margin: 1rem 0;
  }
  header #navAlimentos:checked ~ div {
    display: block;
  }
  .textoEnvios p {
    font-size: 1rem;
    border: 2px dashed #f4f1de;
  }
  /* ================================================ */
  .categorias h2 {
    font-size: 35px;
  }
  /* ================ */
  .encabezadoProductosDestacados {
    flex-direction: column;
  }
  .encabezadoProductosDestacados a {
    align-self: end;
    font-size: 20px;
  }
  .contenedorProductosDestacados {
    max-height: 20rem;
  }
  .contenedorProductosDestacados .cardPet {
    width: 10rem;
    height: 18rem;
  }
  .contenedorProductosDestacados .cardPet p {
    font-size: 12px;
  }
  /* ================================================ */
  .peluqueriaPublic {
    flex-direction: column;
    height: auto;
  }
  .peluqueriaPublic .peluqueriaTexto {
    text-align: center;
  }
  .peluqueriaPublic .peluqueriaTexto h3 {
    font-size: 35px;
  }
  .suscribete {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .suscribete h4 {
    font-size: 35px;
  }
  /*============== footer ================ */
  footer {
    text-align: center;
    padding: 0;
  }
  footer .footerInfo {
    text-align: center;
    padding: 1rem 0;
  }
  /* ---------- PAGINA DE CATEGORIAS -------- */
  .mainCategorias {
    display: block;
  }
  .oculto {
    display: none;
  }
  #seleccionCategorias {
    display: block;
    width: 100%;
  }
  /* ====== PAGINA DE PELUQUERIA CANINA ========== */
  .cuerpoPeluqueria, .imgPeluqueria {
    display: block;
    text-align: center;
  }
  .infoPeluqueria {
    margin: auto;
    height: auto;
  }
}
/* @media (max-width: 480px) {


} */

/*# sourceMappingURL=style.css.map */
