/* ========= INDEX =========== */

@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "partials/header";
@import "partials/texto-envios";
@import "partials/btn";

@import "partials/card-mascotas";
@import "partials/contenedor-cards";
@import "partials/cards";
@import "partials/peluqueria-publicidad";
@import "partials/suscribite";
@import "partials/footer";

/* ======= PAGE CATEGORIAS ======== */

@import "partials/page-categorias";








/* ===== MEDIAQUERYS ==== */

@import "partials/mediaquerys";

