/* ========= INDEX =========== */

@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "partials/header";
@import "partials/texto-envios";
@import "partials/btn";
@import "partials/carrucel";

@import "partials/card-mascotas";
@import "partials/contenedor-cards";
@import "partials/cards";
@import "partials/peluqueria-publicidad";
@import "partials/suscribite";
@import "partials/footer";

/* ======= PAGE CATEGORIAS ======== */

@import "partials/page-categorias";

/* ========== PAGE PELUQUERIA ========= */

@import "partials/page-peluqueria";

/* ================== PAGE CONTACTOS ========== */

@import "partials/page-contactos";

/* ================ PAGE NOSOTROS ========= */
 
@import "partials/_page-nosotros";





/* ===== MEDIAQUERYS ==== */

@import "partials/mediaquerys";

