.productosDestacados{
    padding: 3rem 0;

    .encabezadoProductosDestacados{
        padding: 0 2rem;
        text-align: center;

        a{
            color: black;
            text-align: center;
        }

        h2{
            font-size: $titulosMobile;
            
        }
    }

    .cuerpoProductosDestacados{
        display: flex;
        align-items: center;
        

        .btnProductos{
            position: relative;
            height: 5rem;
            z-index: 98;
            align-self: center;
        }

        
        
    }
    
}

.contenedorProductosDestacados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    gap: 8px;
    overflow:hidden;
}





