.productosDestacados{

    .encabezadoProductosDestacados{
        text-align: center;

        a{
            color: black;
        }

        h2{
            font-size: $titulosMobile;
        }
    }

    .cuerpoProductosDestacados{
        display: flex;
        align-items: center;
        

        .btnProductos{
            position: relative;
            height: 5rem;
            z-index: 98;
            align-self: center;
        }

        
        
    }
    
}

.contenedorProductosDestacados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    gap: 8px;
    overflow:hidden;
}

.contenedorCategoriasProductos{
    @extend .contenedorProductosDestacados;
    height: auto;
    flex-wrap: wrap;
    overflow: visible;
    padding: 1rem;
}




