.productosDestacados{
    background-color: $beigeOscuro;

    .encabezadoProductosDestacados{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;

        a{
            color: black;
        }

        h2{
            font-size: 2rem;
        }
    }

    .cuerpoProductosDestacados{
        display: flex;
        

        .btnProductos{
            position: relative;
            height: 5rem;
            z-index: 98;
            align-self: center;
        }

        .contenedorProductosDestacados{
            display: flex;
            align-items: center;
            height: 30rem;
            gap: 8px;
            overflow:hidden;
        }
    }
    
}






