footer{
    background-color: $purpura;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;

    .footerInfo{
        width: 20rem;
        padding: 1rem;
        color: $beigeClaro;

        ul{
            padding: 0;

            li{
                list-style: none;
                
               
     
                a{
                 color: $beigeClaro;
                 text-decoration: none;
                
             }
             
             }



        }

        

       

    }
    
    
    
}

