header{

    background-color:$purpura;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas:
    "logo buscador login"
    "navegacion navegacion navegacion";
    position: sticky;
    top: 0;
    z-index: 99;

    

    /* ========= LOGO =============== */

    .contenedorLogo{
        max-width:260px;
        padding: 1rem 0;
        text-align: center;
        grid-area: logo;

        .aLogo, h1{
            font-size: 30px;
            color: $beigeClaro;
            text-decoration: none;
            
        }
        
    }

    /*  =========== BUSCADOR ================ */

    .buscador{
        background-color: white;
        border-radius: 15px;
        border: 1px solid gray;
        box-shadow: 0px 0px 1px 0px;
        max-width: 15.5rem;
        grid-area: buscador;

        
        .buscadorInp{
            border-color: transparent;
            background-color: transparent;

            &:focus{
                outline: none;
            }
        }

        
    }
    
    /* ========== BOTONES DE LOGEO Y CARRITO =========== */

    .loginUser{
        padding: 0 8px;
        max-width: 13rem;
        grid-area: login;
        
    }

    /* ========= NAVEGACION PRINCIPAL ========== */
 
    .navPpal{
        color: $beigeClaro;
        grid-area: navegacion;

        a, label{
            display: block;
            text-decoration: none;
            font-size: 20px;
            padding: 0.5rem;
            color: $beigeClaro;

            &:hover, &:hover{
                background-color:$beigeOscuro;
                color: $purpura;
                box-shadow: 0px 0px 2px 0px;
                cursor: pointer;
            }

        }



    }

    
    /* ========== DESPLEGABLE CON CHECKBOX ========== */

    #navAlimentos{
        display: none;

        &:checked ~div{
            display: flex;
        }

    }  

    .menuDesplegableAlimentos {
        background-color: $naranja;
        position:absolute;
        padding: 1rem;
        right: 0;
        left: 0;
        z-index: 99;
        justify-content: space-evenly;
        box-shadow: 0px 0px 3px 0px;
        display: none;

        li{
            list-style: none;
        }
        
    }
  
      
}



















