/* @media (max-width: 1050px) {


} */

@media (max-width: 768px) {

    /* =========== INDEX ============= */
    header{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-areas: 
        "envios envios envios"
        "buscador buscador buscador"
        "logo logo login"
        "navegacion navegacion navegacion";

        .buscador{
            justify-self: center;
            margin: 1rem 0;
        }

        #navAlimentos:checked ~div{
            display: block;
        }
    }

    /* ================================================ */

   
/* ================================================ */
   
    .peluqueriaPublic{
        flex-direction: column;
        height: auto;
    }

    .suscribete{
        flex-direction: column;
        padding: 2rem;
    }

    /* ---------- PAGINA DE CATEGORIAS -------- */

    .mainCategorias {
        display: block;
    }

    .oculto{
        display: none;
    }

    #seleccionCategorias{
        display: block;
        width: 100%;
    }

    /* ====== PAGINA DE PELUQUERIA CANINA ========== */

    .cuerpoPeluqueria, .imgPeluqueria{
        display: block;
        text-align: center;
    }

    .infoPeluqueria{
        margin: auto;
        height: auto;

    }
    


}

/* @media (max-width: 480px) {
    

} */




