/* @media (max-width: 1050px) {


} */


@media (max-width: 950px) {

    .presentacion{
        padding: 1rem 1rem;
        
    }
    
    /* ============= PAGE CONTACTOS =============== */
    
    .mainContactos{
        display: block;
    
        .formContactos{
            margin: auto;
            width: 70%;
        }
    
        .contactoInfo{      
            padding-top: 5rem;
        }
    
        .direcciones{
            justify-content: space-evenly;
            
    
            
        }
        .contactosMapa{
            margin:auto;
            text-align: center;
            iframe{
                padding-top: 1rem;
                max-width: 100%;
    
                    }
        }
    }
    
       
    }



@media (max-width: 768px) {

    /* =========== INDEX ============= */
    p,a{
        font-size: $letrasMobile;
    }

    header{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-areas: 
        "envios envios envios"
        "buscador buscador buscador"
        "logo logo login"
        "navegacion navegacion navegacion";

       .buscador{
            justify-self: center;
            margin: 1rem 0;

           
        }

        #navAlimentos:checked ~div{
            display: block;
        }
    }


    .textoEnvios{
        p{
            font-size: 1rem;
            border: 2px dashed $beigeClaro;
        }
    }
    /* ================================================ */

    .categorias{
        h2{
            font-size: $titulosMobile;
        }
    }

/* ================ */

    .encabezadoProductosDestacados{
       flex-direction: column;

       a{
            align-self: end;
            font-size: $letrasMobile;
        }
       
    }

    .contenedorProductosDestacados{
        max-height: 20rem;       

        .cardPet{
            width: 10rem;
            height: 18rem;

            p{
                font-size: 12px;
            }
        }

    }

       
/* ================================================ */
   
    .peluqueriaPublic{
        flex-direction: column;
        height: auto;
        .peluqueriaTexto{
            text-align: center;
        
        h3{
            font-size: $titulosMobile;
        }

    }
    }

    .suscribete{
        flex-direction: column;
        padding: 2rem 1rem;
        h4{
            font-size: $titulosMobile;
        }
    
    }

    /*============== footer ================ */
    footer{
        text-align: center;
        padding: 0;

        .footerInfo{
            text-align: center;
            padding: 1rem 0;
        }
    }

    
    /* ---------- PAGINA DE CATEGORIAS -------- */

    .mainCategorias {
        display: block;
    }

    .contenedorCategoriasProductos{
        height: auto;
    }

    .contenedorCategoriasProductos{
       height:1000px;
       background-color: aqua;
    }


    .oculto{
        display: none;
    }

    #seleccionCategorias{
        display: block;
        width: 100%;
    }

    /* ====== PAGINA DE PELUQUERIA CANINA ========== */

    .cuerpoPeluqueria, .imgPeluqueria{
        display: block;
        text-align: center;
    }

    .infoPeluqueria{
        margin: auto;
        height: auto;

    }
    
/* ======================== NOSOTROS ================ */

    .nosotrosInfo{
        display: block;    
        }
    
    }


/* @media (max-width: 480px) {
    

} */


@media (max-width: 480px) {

    p,a, label{
        font-size: $letrasMobile;
    }

    /* =========== HEADER ========== */
    /*============ BUSCADOR  ============== */
    .buscadorInp{
        width: 100px;
    }


    /* ========================PAGE CONTACTOS ================ */
    .mainContactos{
        .formContactos{
            width: 100%;
            padding: 0 1rem;
            }
        .direcciones{
            display: block;
            text-align: center;
        }

    }


    }





/* ============ NOSOTROS ========= */

