.titulosContactos{
    background-color: aquamarine;
    height: 200px;
}


.mainContactos{
    display: flex;
    justify-content:space-around;
    align-items: center;

    .direcciones{
        display: flex;
        padding: 1rem;
        justify-content: center;

        iframe{
            max-width: 25rem;
            height: 20rem;
        }

    }

    .formContactos{
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 1rem;

        .checkSeguridad{
            padding: 1rem;
            text-align: center;
            margin: 1rem;
            background-color: gray;
        
        }

    }
}