.nosotrosTitulo{
    padding: 2rem;
    text-align: center;
}


.presentacion{
    padding: 1rem 10rem;
  

    .presentacionText{
        text-align: justify;
        padding: 0;
        margin: auto;

        p{
            padding: 1rem;
        };
    }

    img{
        min-width: 300px;
       
    }

}

.nosotrosInfo{
    display: flex;
    gap: 1rem;
    background-color: aqua;
    padding: 1rem;

    .nosotrosDirecciones{
        margin: auto;
        text-align: center;
    }
    
    .nosotrosMapa{
    background-color: chartreuse;
    max-width: 350px;
    margin: auto;

    iframe{
        max-width: 100%;
        height: 250px;
    }
    }
    
}