.titulosContactos{  
    background-image: url(../media/img/fondo-perro.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;

    h2{
        color: $beigeClaro;
        padding: 0 5rem;
        text-shadow: 0 0 15px black;
    }

}


.mainContactos{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;

    h3{
        text-align: center;
        padding: 1rem;
    }

    .direcciones{
       display: flex;
       justify-content: space-around;
       gap: 10px;       
       
    }

    iframe{
        max-width: 25rem;
        height: 20rem;
    }

    .formContactos{
        display: flex;
        flex-direction: column;
        width: 25rem;

        label{
            padding: 0.5rem;
        }

        .checkSeguridad{
            text-align: center;
            padding: 1rem;
        
        }

    }
} 