.presentacion{
    padding: 1rem 10rem;
  

    .presentacionText{
        text-align: justify;
        padding: 0;
        margin: auto;

        p{
            padding: 1rem;
        };
    }

    img{
        min-width: 300px;
       
    }

}

.nosotrosInfo{
    background-color: aqua;
    padding: 4rem;

    .nosotrosDirecciones{
        margin: auto;
        text-align: center;
    }

    iframe{
        width: 500px;
        height: 400px;
    }
}