/* CONTENIDO PRINCIPAL  */


.descripcionPeluqueria{
    padding: 1rem 2rem;

    h2{
        text-align: center;
    }

    p{
        font-size: 20px;
        text-align:center;
    }

}

.cuerpoPeluqueria{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;

    .imgPeluqueria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        max-width: 55rem;
        padding: 1rem;
        
        img{
            box-shadow: 0 0 5px 0 ;
        }
        
    }

    .infoPeluqueria{
        max-width: 30rem;
        padding: 2rem;
        background-color: #81b29a;
        box-shadow: 0 0 5px 0 ;
        font-size: 25px;
        text-align: center;
        span{
            font-weight: bold;
        }
    }

}








