.peluqueriaPublic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
    padding: 2rem;

    .peluqueriaTexto{
        padding: 1rem;
        max-width: 35rem;
        }

    img {
        width: 500px;
    }
   
}


