* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;       
}

body {
    background: rgb(224,122,95);
    background: linear-gradient(180deg, rgba(224,122,95,1) 0%, rgba(242,204,143,1) 40%, rgba(244,241,222,1) 100%);
    font-family: 'Nunito', sans-serif;

    img{
        max-width: 100%;
    }

    p{
        font-size: 1rem;
    }
}