

/*=============== ESTILOS DEL INDEX ======= */


/* ============   HEADER  ================== */



/* =========== SECCION CATEGORIAS (SELECCION DE MASCOTAS) ============== */


/* =========== productos destacados ============ */




/* ============== PELUQUERIA =============== */

.peluqueriaPublic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--naranja);
    height: 30rem;
    padding: 2rem;
   
}

.peluqueriaTexto{
padding: 1rem;
}


.peluqueriaPublic img{
    width: 500px;
}


/* =============== SUSCRIBITE ================= */



/* =================footer ================= */



/* ================================ PAGINA CATEGORIAS ============================================= */

/* ======== TITULO DE PAGINA ====== */
.contenedorTitulo{
    background-color: var(--verde);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem;
}

/* ========== CONTENIDO PRINCIPAL ==== */
.mainCategorias{
    display: flex;
    justify-content: space-evenly;
}



.filtros{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--beigeOscuro);

}

.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;

}

#seleccionCategorias{
    display: none;
}

/* ====================================== PAGINA DE PELUQUERIA CANINA  ================================ */

/* CONTENIDO PRINCIPAL  */


.descripcionPeluqueria{
    background-color: #f2cc8f;
    padding: 1rem 2rem;
}

.descripcionPeluqueria h2{
    text-align: center;
}

.descripcionPeluqueria p{
    font-size: 20px;
    text-align:center;
}


.cuerpoPeluqueria{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

/* IMAGENES DE PELUQUERIA CANINA */

.imgPeluqueria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-width: 55rem;
    padding: 1rem;
    
}

.imgPeluqueria img{
    box-shadow: 0 0 5px 0 ;
}


.infoPeluqueria{
    max-width: 30rem;
    height: 15rem;
    padding: 2rem;
    background-color: #81b29a;
    box-shadow: 0 0 5px 0 ;
    font-size: 25px;
    text-align: center;
}






/* ========= MEDIA QUERYS  ========== */



@media (max-width: 1050px) {


}

@media (max-width: 768px) {

    /* =========== INDEX ============= */
    header{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-areas: 
        "envios envios envios"
        "buscador buscador buscador"
        "logo logo login"
        "navegacion navegacion navegacion";
    }

    .buscador{
        justify-self: center;
        margin: 1rem 0;
    }

    #navAlimentos:checked ~div{
        display: block;
    }

    .peluqueriaPublic{
        flex-direction: column;
        height: auto;
    }

    .suscribete{
        flex-direction: column;
        padding: 2rem;
    }

    /* ---------- PAGINA DE CATEGORIAS -------- */

    .mainCategorias {
        display: block;
    }

    .oculto{
        display: none;
    }

    #seleccionCategorias{
        display: block;
        width: 100%;
    }

    /* ====== PAGINA DE PELUQUERIA CANINA ========== */

    .cuerpoPeluqueria, .imgPeluqueria{
        display: block;
        text-align: center;
    }

    .infoPeluqueria{
        margin: auto;
        height: auto;

    }
    


}

@media (max-width: 480px) {
    

}




