* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

:root{
    --naranja:#e07a5f;
    --beigeClaro: #f4f1de;
    --purpura:#3d405b;
    --verde:#81b29a;
    --beigeOscuro:#f2cc8f;
}

img{
    max-width: 100%;
}

body {
    background-color: var(--naranja);
    font-family: 'Nunito', sans-serif;
}

/*=============== ESTILOS DEL INDEX ======= */


/* ============   HEADER  ================== */

header{
    background-color: var(--purpura);
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 
    "envios envios envios"
    "logo buscador login"
    "navegacion navegacion navegacion";

      
}

.textoEnvios{
    background-color: var(--beigeClaro);
    text-align: center;
    grid-area: envios;
}

/* ========= LOGO =============== */

.contenedorLogo{
    max-width:260px;
    padding: 1rem 0;
    text-align: center;
    grid-area: logo;
    
}

.aLogo, h1{
    font-size: 30px;
    color: var(--beigeClaro);
    text-decoration: none;
    
}

/* ============= BOTONES GENERALES =========== */
.btn{
    border: 0;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--beigeClaro);
    
}

.btn:hover{
    box-shadow: 0px 0px 3px 0px;
    cursor: pointer;
    background-color: var(--beigeOscuro);
    
}

/*  =========== BUSCADOR ================ */

.buscador{
    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: 0px 0px 1px 0px;
    max-width: 15.5rem;
    grid-area: buscador;
}
.buscadorInp{
    border-color: transparent;
    background-color: transparent;
}

.buscadorInp:focus{
    outline: none;
}

/* ========== BOTONES DE LOGEO Y CARRITO =========== */

.loginUser{
    padding: 0 8px;
    max-width: 13rem;
    grid-area: login;
    text-align: end;
    
}

/* ========= NAVEGACION PRINCIPAL ========== */
 
.navPpal{
    color: var(--beigeClaro);
    grid-area: navegacion;
}

.navPpal ul{
   list-style: none;
    
}

.navPpal a, .navPpal label{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5rem;
    color: var(--beigeClaro);
}

.navPpal a:hover, .navPpal label:hover{
    background-color: var(--beigeOscuro);
    color: var(--purpura);
    box-shadow: 0px 0px 2px 0px;
    cursor: pointer;
}



/* ========== DESPLEGABLE CON CHECKBOX ========== */

#navAlimentos{
    display: none;
}

#navAlimentos:checked ~div{
    display: flex;
}

.menuDesplegableAlimentos {
    background-color: var(--naranja);
    position:absolute;
    padding: 1rem;
    right: 0;
    left: 0;
    z-index: 99;
    justify-content: space-evenly;
    box-shadow: 0px 0px 3px 0px;
    display: none;
    
}



/* ========= CIERRE DE HEADER ====================== */

/* =========== SECCION CATEGORIAS (SELECCION DE MASCOTAS) ============== */
.categorias{
    padding: 80px 0;
    text-align: center;
    
}

.contenedorCategorias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;

}
.card-cat{
    width: 150px;
    margin: 0 10px;
    text-align: center;
}


.card-cat a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card-cat a:hover{
   text-decoration: underline;
     
}

.card-cat img{
    border-radius: 5rem;
}


/* =========== productos destacados ============ */

.productosDestacados{
    padding: 4rem 1rem;
    background-color: var(--beigeOscuro);
}

.verProductosDestacados{
    display: inline-block;
    font-size: 10px;
    padding-bottom: 1rem;
    color: black;
    
}

.cuerpoProductosDestacados{
    display: flex;
    align-items: center;

}

.contenedorProductosDestacados{
    display: flex;
    align-items: center;
    gap: 8px;
    overflow:hidden;
}

.cardDestacados{
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 0 2px 0;
    padding: 1rem;
    background-color: var(--beigeClaro);
    max-width: 16rem;
}

.cardDestacados a{
    color: black;
    text-decoration: none;
}

.cardPrecios span {
    font-weight: bold;
    font-size: 1.5rem;

}


/* ============== PELUQUERIA =============== */

.peluqueriaPublic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--naranja);
    height: 30rem;
    padding: 2rem;
   
}

.peluqueriaTexto{
padding: 1rem;
}


.peluqueriaPublic img{
    width: 500px;
}


/* =============== SUSCRIBITE ================= */
.suscribete{
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    padding: 1em;
    
}

.suscribeteText{
    text-align:center;
}

.suscribeteInp input{
    height: 1.5rem;
}


/* =================footer ================= */

footer{
    background-color: var(--purpura);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    
}

.footerInfo{
    padding: 1rem;
    color: var(--beigeClaro);
}

.footerInfo a{
    color: var(--beigeClaro);
    text-decoration: none;
}

/* ================================ PAGINA CATEGORIAS ============================================= */

/* ======== TITULO DE PAGINA ====== */
.contenedorTitulo{
    background-color: var(--verde);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem;
}

/* ========== CONTENIDO PRINCIPAL ==== */
.mainCategorias{
    display: flex;
    justify-content: space-evenly;
}



.filtros{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--beigeOscuro);

}

.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;

}

#seleccionCategorias{
    display: none;
}

/* ====================================== PAGINA DE PELUQUERIA CANINA  ================================ */

/* CONTENIDO PRINCIPAL  */


.descripcionPeluqueria{
    background-color: #f2cc8f;
    padding: 1rem 2rem;
}

.descripcionPeluqueria h2{
    text-align: center;
}

.descripcionPeluqueria p{
    font-size: 20px;
    text-align:center;
}


.cuerpoPeluqueria{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

/* IMAGENES DE PELUQUERIA CANINA */

.imgPeluqueria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    max-width: 55rem;
    padding: 1rem;
    
}

.imgPeluqueria img{
    box-shadow: 0 0 5px 0 ;
}


.infoPeluqueria{
    max-width: 30rem;
    height: 15rem;
    padding: 2rem;
    background-color: #81b29a;
    box-shadow: 0 0 5px 0 ;
    font-size: 25px;
    text-align: center;
}






/* ========= MEDIA QUERYS  ========== */



@media (max-width: 1050px) {


}

@media (max-width: 768px) {

    /* =========== INDEX ============= */
    header{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-areas: 
        "envios envios envios"
        "buscador buscador buscador"
        "logo logo login"
        "navegacion navegacion navegacion";
    }

    .buscador{
        justify-self: center;
        margin: 1rem 0;
    }

    #navAlimentos:checked ~div{
        display: block;
    }

    .peluqueriaPublic{
        flex-direction: column;
        height: auto;
    }

    .suscribete{
        flex-direction: column;
        padding: 2rem;
    }

    /* ---------- PAGINA DE CATEGORIAS -------- */

    .mainCategorias {
        display: block;
    }

    .oculto{
        display: none;
    }

    #seleccionCategorias{
        display: block;
        width: 100%;
    }

    /* ====== PAGINA DE PELUQUERIA CANINA ========== */

    .cuerpoPeluqueria, .imgPeluqueria{
        display: block;
        text-align: center;
    }

    .infoPeluqueria{
        margin: auto;
        height: auto;

    }
    


}

@media (max-width: 480px) {
    

}




